.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# Project
hellerl_world.d

# Erlang
/ebin
/elvis
/_rel
/logs

# Erlang.mk
/.erlang.mk

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
