[{features, [
    {counters, #{
        init => [
            #{pattern => "goal",
              type => bloom_scalable,
              size => 10000,
              date_cohort => weekly,
              error_probability => 0.01},
            #{pattern => ".*",
              type => bloom_scalable,
              size => 10000,
              error_probability => 0.01}
        ]
    }}
]}].
